/* App.css */
.app-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto; /* Kaydırmayı aktif hale getir */
  background-color: #f0f0f0;
}

.pureair-logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 20px;
  border: 2px solid white;
  z-index: 10;
}

/* Responsive Ayarları */
@media (max-width: 768px) {
  .pureair-logo {
    width: 80px;
    top: 15px;
    left: 15px;
  }
}

@media (max-width: 480px) {
  .pureair-logo {
    width: 60px;
    top: 10px;
    left: 10px;
  }
}