/* App.css */
.app-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0; /* Tüm sayfalarda ortak arka plan rengi */
}

.pureair-logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 20px;
  border: 2px solid white;
  z-index: 10; /* Logo her zaman üstte olacak */
}